<div class="comment d-flex justify-content-start mb-4">
    <div class="card p-3 shadow-sm w-100">
        <div class="d-flex flex-row">
            <div class="flex-shrink-0 me-3">
                {# {% if comment.author.avatar %}
                    <img src="{{ comment.author.avatar }}" alt="{{ comment.author }}'s avatar" class="rounded-circle" width="64" height="64"/>
                {% else %}
                    <img src="https://yt3.ggpht.com/QAbtCWyrOI4SbZIqzQP7w8C9fWQhHfSg7UoIDUmDlOpVlkbvTuOJc8E-R8K8wh0Pe9Vki7VsOr8=s88-c-k-c0x00ffffff-no-rj" alt="Avatar" class="rounded-circle" width="64" height="64">
                {% endif %} #}
            </div>
            <div>
                <div class="d-flex align-items-center mb-2">
                    <h5 class="mb-0 me-2">{{ comment.author }}</h5>
                    {# <small class="text-muted">{{ comment.date }}</small> #}
                </div>
                <p class="text-muted mb-2">
                    {{ comment.content|raw }}
                </p>
            </div>
        </div>
    </div>
</div>
